In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/nianzhe/Desktop/DSO562 Fraud Analytics/HW1/NY property data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070994 entries, 0 to 1070993
Data columns (total 32 columns):
RECORD      1070994 non-null int64
BBLE        1070994 non-null object
B           1070994 non-null int64
BLOCK       1070994 non-null int64
LOT         1070994 non-null int64
EASEMENT    4636 non-null object
OWNER       1039249 non-null object
BLDGCL      1070994 non-null object
TAXCLASS    1070994 non-null object
LTFRONT     1070994 non-null int64
LTDEPTH     1070994 non-null int64
EXT         354305 non-null object
STORIES     1014730 non-null float64
FULLVAL     1070994 non-null float64
AVLAND      1070994 non-null float64
AVTOT       1070994 non-null float64
EXLAND      1070994 non-null float64
EXTOT       1070994 non-null float64
EXCD1       638488 non-null float64
STADDR      1070318 non-null object
ZIP         1041104 non-null float64
EXMPTCL     15579 non-null object
BLDFRONT    1070994 non-null int64
BLDDEPTH    1070994 non-null int64
AVLAND2     282726 non-null float64
AVTOT2      282732 non-null float64
EXLAND2     87449 non-null float64
EXTOT2      130828 non-null float64
EXCD2       92948 non-null float64
PERIOD      1070994 non-null object
YEAR        1070994 non-null object
VALTYPE     1070994 non-null object
dtypes: float64(13), int64(8), object(11)
memory usage: 261.5+ MB

In [4]:
df.columns

Index(['RECORD', 'BBLE', 'B', 'BLOCK', 'LOT', 'EASEMENT', 'OWNER', 'BLDGCL',
       'TAXCLASS', 'LTFRONT', 'LTDEPTH', 'EXT', 'STORIES', 'FULLVAL', 'AVLAND',
       'AVTOT', 'EXLAND', 'EXTOT', 'EXCD1', 'STADDR', 'ZIP', 'EXMPTCL',
       'BLDFRONT', 'BLDDEPTH', 'AVLAND2', 'AVTOT2', 'EXLAND2', 'EXTOT2',
       'EXCD2', 'PERIOD', 'YEAR', 'VALTYPE'],
      dtype='object')

### 1 Fill ZIP Code

In [5]:
df['BLOCK-LOT'] = df['BLOCK'].astype(str) +'-' +df['LOT'].astype(str)

In [6]:
df['ZIP'] = df['ZIP'].astype(str)

In [7]:
fill1 = df.groupby(['BLOCK'])['ZIP'].apply(pd.Series.mode)
fill1 = fill1.to_frame()
fill1 = fill1.reset_index().groupby('BLOCK').agg({'ZIP':'first'})

In [8]:
fill2 = df.groupby(['B'])['ZIP'].apply(pd.Series.mode)
fill2 = fill2.to_frame()
fill2 = fill2.reset_index().groupby('B').agg({'ZIP':'first'})

In [9]:
df = df.set_index('BLOCK')

In [10]:
df['ZIP'] = df['ZIP'].fillna(fill1['ZIP'])

In [11]:
df['ZIP'] = df['ZIP'].replace('nan', np.nan)

In [12]:
df['ZIP'].count()

1041104

In [13]:
df = df.reset_index()

In [14]:
df = df.set_index('B')

In [15]:
df['ZIP'] = df['ZIP'].fillna(fill2['ZIP'])
df['ZIP'] = df['ZIP'].replace('nan', np.nan)

In [16]:
df['ZIP'].count()

1070994

In [17]:
df = df.reset_index()

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070994 entries, 0 to 1070993
Data columns (total 33 columns):
B            1070994 non-null int64
BLOCK        1070994 non-null int64
RECORD       1070994 non-null int64
BBLE         1070994 non-null object
LOT          1070994 non-null int64
EASEMENT     4636 non-null object
OWNER        1039249 non-null object
BLDGCL       1070994 non-null object
TAXCLASS     1070994 non-null object
LTFRONT      1070994 non-null int64
LTDEPTH      1070994 non-null int64
EXT          354305 non-null object
STORIES      1014730 non-null float64
FULLVAL      1070994 non-null float64
AVLAND       1070994 non-null float64
AVTOT        1070994 non-null float64
EXLAND       1070994 non-null float64
EXTOT        1070994 non-null float64
EXCD1        638488 non-null float64
STADDR       1070318 non-null object
ZIP          1070994 non-null object
EXMPTCL      15579 non-null object
BLDFRONT     1070994 non-null int64
BLDDEPTH     1070994 non-null int64
AVLAND2      282726 non-null float64
AVTOT2       282732 non-null float64
EXLAND2      87449 non-null float64
EXTOT2       130828 non-null float64
EXCD2        92948 non-null float64
PERIOD       1070994 non-null object
YEAR         1070994 non-null object
VALTYPE      1070994 non-null object
BLOCK-LOT    1070994 non-null object
dtypes: float64(12), int64(8), object(13)
memory usage: 269.6+ MB

### 2 Fill FULLVAL', 'AVLAND', 'AVTOT'

In [19]:
for i in ['FULLVAL', 'AVLAND', 'AVTOT','LTFRONT', 'LTDEPTH', 'BLDFRONT', 'BLDDEPTH', 'STORIES' ]:
    df[i] = df[i].replace(0, np.nan)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070994 entries, 0 to 1070993
Data columns (total 33 columns):
B            1070994 non-null int64
BLOCK        1070994 non-null int64
RECORD       1070994 non-null int64
BBLE         1070994 non-null object
LOT          1070994 non-null int64
EASEMENT     4636 non-null object
OWNER        1039249 non-null object
BLDGCL       1070994 non-null object
TAXCLASS     1070994 non-null object
LTFRONT      901886 non-null float64
LTDEPTH      900866 non-null float64
EXT          354305 non-null object
STORIES      1014730 non-null float64
FULLVAL      1057987 non-null float64
AVLAND       1057985 non-null float64
AVTOT        1057987 non-null float64
EXLAND       1070994 non-null float64
EXTOT        1070994 non-null float64
EXCD1        638488 non-null float64
STADDR       1070318 non-null object
ZIP          1070994 non-null object
EXMPTCL      15579 non-null object
BLDFRONT     842179 non-null float64
BLDDEPTH     842141 non-null float64
AVLAND2      282726 non-null float64
AVTOT2       282732 non-null float64
EXLAND2      87449 non-null float64
EXTOT2       130828 non-null float64
EXCD2        92948 non-null float64
PERIOD       1070994 non-null object
YEAR         1070994 non-null object
VALTYPE      1070994 non-null object
BLOCK-LOT    1070994 non-null object
dtypes: float64(16), int64(4), object(13)
memory usage: 269.6+ MB

In [21]:
df['ZIP-BLDGCL-TAXCLASS'] = df['ZIP'].astype(str) +'-' +df['BLDGCL'].astype(str) +'-' +df['TAXCLASS'].astype(str)

In [22]:
fill3 = df.groupby(['ZIP-BLDGCL-TAXCLASS']).agg({'FULLVAL':'median', 'AVLAND':'median', 'AVTOT':'median','LTFRONT':'median', 'LTDEPTH':'median', 'BLDFRONT':'median', 'BLDDEPTH':'median', 'STORIES':'median'})

In [23]:
df = df.set_index('ZIP-BLDGCL-TAXCLASS')

In [24]:
for i in ['FULLVAL', 'AVLAND', 'AVTOT','LTFRONT', 'LTDEPTH', 'BLDFRONT', 'BLDDEPTH', 'STORIES' ]:
    df[i] = df[i].fillna(fill3[i])
# df['AVLAND'] = df['AVLAND'].fillna(fill3['AVLAND'])
#df['AVTOT'] = df['AVTOT'].fillna(fill3['AVTOT'])

In [25]:
# df = df.fillna(fill3)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1070994 entries, 10004.0-P7-4 to 10307.0-A1-1
Data columns (total 33 columns):
B            1070994 non-null int64
BLOCK        1070994 non-null int64
RECORD       1070994 non-null int64
BBLE         1070994 non-null object
LOT          1070994 non-null int64
EASEMENT     4636 non-null object
OWNER        1039249 non-null object
BLDGCL       1070994 non-null object
TAXCLASS     1070994 non-null object
LTFRONT      1055266 non-null float64
LTDEPTH      1053526 non-null float64
EXT          354305 non-null object
STORIES      1031254 non-null float64
FULLVAL      1061816 non-null float64
AVLAND       1061816 non-null float64
AVTOT        1061816 non-null float64
EXLAND       1070994 non-null float64
EXTOT        1070994 non-null float64
EXCD1        638488 non-null float64
STADDR       1070318 non-null object
ZIP          1070994 non-null object
EXMPTCL      15579 non-null object
BLDFRONT     998339 non-null float64
BLDDEPTH     1000305 non-null float64
AVLAND2      282726 non-null float64
AVTOT2       282732 non-null float64
EXLAND2      87449 non-null float64
EXTOT2       130828 non-null float64
EXCD2        92948 non-null float64
PERIOD       1070994 non-null object
YEAR         1070994 non-null object
VALTYPE      1070994 non-null object
BLOCK-LOT    1070994 non-null object
dtypes: float64(16), int64(4), object(13)
memory usage: 277.8+ MB

In [27]:
df['BLDGCL-TAXCLASS'] = df['BLDGCL'].astype(str) +'-' +df['TAXCLASS'].astype(str)

In [28]:
fill4 = df.groupby(['BLDGCL-TAXCLASS']).agg({'FULLVAL':'median', 'AVLAND':'median', 'AVTOT':'median','LTFRONT':'median', 'LTDEPTH':'median', 'BLDFRONT':'median', 'BLDDEPTH':'median', 'STORIES':'median'})

In [29]:
df = df.set_index('BLDGCL-TAXCLASS')

In [30]:
for i in ['FULLVAL', 'AVLAND', 'AVTOT','LTFRONT', 'LTDEPTH', 'BLDFRONT', 'BLDDEPTH', 'STORIES' ]:
    df[i] = df[i].fillna(fill4[i])

In [31]:
# df['FULLVAL'] = df['FULLVAL'].fillna(fill4['FULLVAL'])
# df['AVLAND'] = df['AVLAND'].fillna(fill4['AVLAND'])
#df['AVTOT'] = df['AVTOT'].fillna(fill4['AVTOT'])

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1070994 entries, P7-4 to A1-1
Data columns (total 33 columns):
B            1070994 non-null int64
BLOCK        1070994 non-null int64
RECORD       1070994 non-null int64
BBLE         1070994 non-null object
LOT          1070994 non-null int64
EASEMENT     4636 non-null object
OWNER        1039249 non-null object
BLDGCL       1070994 non-null object
TAXCLASS     1070994 non-null object
LTFRONT      1070992 non-null float64
LTDEPTH      1070992 non-null float64
EXT          354305 non-null object
STORIES      1066713 non-null float64
FULLVAL      1064388 non-null float64
AVLAND       1064388 non-null float64
AVTOT        1064388 non-null float64
EXLAND       1070994 non-null float64
EXTOT        1070994 non-null float64
EXCD1        638488 non-null float64
STADDR       1070318 non-null object
ZIP          1070994 non-null object
EXMPTCL      15579 non-null object
BLDFRONT     1066712 non-null float64
BLDDEPTH     1067711 non-null float64
AVLAND2      282726 non-null float64
AVTOT2       282732 non-null float64
EXLAND2      87449 non-null float64
EXTOT2       130828 non-null float64
EXCD2        92948 non-null float64
PERIOD       1070994 non-null object
YEAR         1070994 non-null object
VALTYPE      1070994 non-null object
BLOCK-LOT    1070994 non-null object
dtypes: float64(16), int64(4), object(13)
memory usage: 277.8+ MB

In [33]:
fill5 = df.groupby(['TAXCLASS']).agg({'FULLVAL':'median', 'AVLAND':'median', 'AVTOT':'median','LTFRONT':'median', 'LTDEPTH':'median', 'BLDFRONT':'median', 'BLDDEPTH':'median', 'STORIES':'median'})

In [34]:
df = df.set_index('TAXCLASS')

In [35]:
for i in ['FULLVAL', 'AVLAND', 'AVTOT','LTFRONT', 'LTDEPTH', 'BLDFRONT', 'BLDDEPTH', 'STORIES' ]:
    df[i] = df[i].fillna(fill5[i])

In [36]:
# df['FULLVAL'] = df['FULLVAL'].fillna(fill5['FULLVAL'])
# df['AVLAND'] = df['AVLAND'].fillna(fill5['AVLAND'])
#df['AVTOT'] = df['AVTOT'].fillna(fill5['AVTOT'])

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1070994 entries, 4 to 1
Data columns (total 32 columns):
B            1070994 non-null int64
BLOCK        1070994 non-null int64
RECORD       1070994 non-null int64
BBLE         1070994 non-null object
LOT          1070994 non-null int64
EASEMENT     4636 non-null object
OWNER        1039249 non-null object
BLDGCL       1070994 non-null object
LTFRONT      1070994 non-null float64
LTDEPTH      1070994 non-null float64
EXT          354305 non-null object
STORIES      1070994 non-null float64
FULLVAL      1070994 non-null float64
AVLAND       1070994 non-null float64
AVTOT        1070994 non-null float64
EXLAND       1070994 non-null float64
EXTOT        1070994 non-null float64
EXCD1        638488 non-null float64
STADDR       1070318 non-null object
ZIP          1070994 non-null object
EXMPTCL      15579 non-null object
BLDFRONT     1070994 non-null float64
BLDDEPTH     1070994 non-null float64
AVLAND2      282726 non-null float64
AVTOT2       282732 non-null float64
EXLAND2      87449 non-null float64
EXTOT2       130828 non-null float64
EXCD2        92948 non-null float64
PERIOD       1070994 non-null object
YEAR         1070994 non-null object
VALTYPE      1070994 non-null object
BLOCK-LOT    1070994 non-null object
dtypes: float64(16), int64(4), object(12)
memory usage: 269.6+ MB

In [39]:
df[['ZIP','FULLVAL', 'AVLAND', 'AVTOT','LTFRONT', 'LTDEPTH', 'BLDFRONT', 'BLDDEPTH', 'STORIES' ]].count()

ZIP         1070994
FULLVAL     1070994
AVLAND      1070994
AVTOT       1070994
LTFRONT     1070994
LTDEPTH     1070994
BLDFRONT    1070994
BLDDEPTH    1070994
STORIES     1070994
dtype: int64

In [41]:
sum(df['BLDDEPTH'] == 'nan')

0

In [42]:
df.to_csv('NY_No_Missing.csv')